<h1 class="header-title">ТЕСТОВАЯ ВЕРСИЯ</h1>

<nav *ngIf="entries.length > 0" class="menuItems">
  <p
    *ngFor="let entry of entries"
    class="clicable"
    (click)="navigateTo(entry[1])"
  >
    {{ entry[0] }}
  </p>
</nav>

<div class="userNameGroup">
  <div *ngIf="currentUser; then userNameTpl; else loginTpl"></div>

  <ng-template #userNameTpl>
    <p class="user-name clicable" (click)="navigateTo('/profile')">
      Перейти в профиль: {{ currentUser }}
    </p>
    <p class="clicable" (click)="logout()">Выйти</p>
  </ng-template>

  <ng-template #loginTpl>
    <p class="clicable" (click)="navigateTo('/login')">.</p>
  </ng-template>
</div>
