:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userNameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-image {
  width: 150px; /* размер эмблемы */
  height: 150px;
  border-radius: 50%; /* делает круг */
  object-fit: cover;
}
