:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.userNameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
