<a href="/"
  ><img src="assets/SACicon.png" class="header-image clicable" alt="SACicon"
/></a>

<nav *ngIf="entries.length > 0" class="menuItems">
  <p
    *ngFor="let entry of entries"
    class="clicable"
    (click)="navigateTo(entry[1])"
  >
    {{ entry[0] }}
  </p>
</nav>

<div class="userNameGroup">
  <div *ngIf="currentUser; then userNameTpl; else loginTpl"></div>

  <ng-template #userNameTpl>
    <p class="clicable" (click)="logout()">Выйти</p>
  </ng-template>

  <ng-template #loginTpl>
    <p class="clicable" (click)="navigateTo('/login')">Войти</p>
  </ng-template>
</div>
