<div class="skill-form">
  <h2>Добавить Навык</h2>

  <label>
    Название навыка:
    <input [(ngModel)]="newskillName" placeholder="Введите название навыка" />
  </label>

  <button class="add-skill-button" (click)="saveSkill()">Добавить навык</button>

  <div class="lists-container">
    <!-- Шаги навыка -->
    <div class="step-list">
      <h3>Шаги навыка</h3>
      <div
        #skillListContainer
        cdkDropList
        id="skillStepsList"
        [cdkDropListData]="skillSteps"
        [cdkDropListConnectedTo]="['availableStepsList']"
        class="dropzone"
        [style.height.px]="skillListHeight"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          #skillStepRef
          class="step-item"
          *ngFor="let step of skillSteps"
          cdkDrag
        >
          <span [ngClass]="{ 'mistake-step': step.mistakePossible }">
            {{ step.name }}
          </span>
        </div>
      </div>
    </div>

    <!-- Доступные шаги -->
    <div class="step-list">
      <label>
        Название шага:
        <input [(ngModel)]="newStepName" placeholder="Введите название шага" />
      </label>

      <label>
        Минус балл при невыполнении:
        <input type="checkbox" [(ngModel)]="newStepPenalty" />
      </label>

      <button (click)="addStep()">Добавить шаг</button>
      <h3>Доступные шаги</h3>
      <div
        #availableListContainer
        cdkDropList
        id="availableStepsList"
        [cdkDropListData]="availableSteps"
        [cdkDropListConnectedTo]="['skillStepsList']"
        class="dropzone"
        [style.height.px]="availableListHeight"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          #availableStepRef
          class="step-item"
          *ngFor="let step of availableSteps"
          cdkDrag
        >
          <span
            class="step-name"
            [ngClass]="{ 'mistake-step': step.mistakePossible }"
          >
            {{ step.name }}
          </span>
          <button
            *ngIf="step.canDelete"
            type="button"
            class="remove-btn"
            aria-label="Удалить шаг"
            (click)="$event.stopPropagation(); removeStep(step.id)"
          >
            ✖
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
