<div class="exam-container">
  <h2>{{ skill?.name }}</h2>

  <!-- Выбор активной сессии -->
  <div class="form-group">
    <label for="session">Сессия:</label>
    <ng-container *ngIf="activeSessionList.length === 1; else multipleSessions">
      <p class="single-session">{{ activeSessionList[0].name }}</p>
    </ng-container>

    <ng-template #multipleSessions>
      <select
        id="session"
        [(ngModel)]="currentSessionId"
        (change)="onSessionChange()"
        required
      >
        <option [ngValue]="undefined" disabled>Выберите сессию</option>
        <option
          *ngFor="let session of activeSessionList"
          [ngValue]="session.id"
        >
          {{ session.name || "Сессия " + session.id }}
        </option>
      </select>
    </ng-template>
  </div>

  <!-- Выбор студента -->
  <div class="form-group">
    <label for="studentSearch">Поиск студента:</label>
    <input
      id="studentSearch"
      type="text"
      [(ngModel)]="studentSearch"
      (input)="filterStudents()"
      placeholder="Введите номер студента"
      class="form-control"
    />

    <label for="student">Студент:</label>
    <select
      id="student"
      [(ngModel)]="currentStudentId"
      required
      class="form-control"
      size="5"
    >
      <option [ngValue]="undefined" disabled>Выберите студента</option>
      <option *ngFor="let student of filteredStudents" [ngValue]="student">
        Студент №{{ student }}
      </option>
    </select>
  </div>

  <div class="steps-section">
    <h3>Шаги навыка</h3>
    <div *ngFor="let step of skillSteps; let i = index" class="step-item">
      <span>{{ step.name }}</span>
      <div class="number-input">
        <button type="button" (click)="decStep(i)" [disabled]="getStep(i) <= 0">
          −
        </button>

        <input
          type="text"
          [value]="getStep(i)"
          (keypress)="onStepKeyPress($event)"
          (blur)="onStepBlur(i, $event)"
        />

        <button type="button" (click)="incStep(i)" [disabled]="getStep(i) >= 2">
          +
        </button>
      </div>
    </div>
  </div>

  <span>{{ score }} %</span>

  <button (click)="submitExam()" [disabled]="!canSubmit()" class="btn-submit">
    Отправить
  </button>
</div>
