:host {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: max-content;
}

.number-input {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.number-input input {
  width: 2ch;
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0 0.3rem;
}

.number-input button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.submitButton {
  margin-top: 50px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stepDescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skilltest {
  width: 70%;
}

.studentnumber {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studentnumberstable {
  width: 7ch;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 4px;
  font-family: monospace;
  font-size: large;
}

.item {
  text-align: right;
  margin: 5px;
}

input {
  width: 50px;
  padding: 6px;
  font-size: large;
}

.mistakes {
  margin-top: 30px;
}
