<div class="skilltest">
  <div class="head">
    <h1 *ngIf="skill; else loading">{{ skill.name }}</h1>
  </div>

  <div class="steps">
    <div *ngFor="let step of testSteps; let i = index">
      <div class="step">
        <div class="number-input">
          <button (click)="decrement(i)">−</button>
          <input type="number" [(ngModel)]="step.value" />
          <button (click)="increment(i)">+</button>
        </div>
        <div class="stepDescription">
          {{ step.description }}
        </div>
      </div>
    </div>
  </div>

  <div class="mistakes">
    <div class="step">
      <div class="number-input">
        <button (click)="decrementMistakes(-1)">−</button>
        <input type="number" [(ngModel)]="lightMistakes" />
        <button (click)="incrementMistakes(-1)">+</button>
      </div>
      <div class="stepDescription">
        Количество грубых ошибок базового уровня
      </div>
    </div>
    <div class="step">
      <div class="number-input">
        <button (click)="decrementMistakes(-2)">−</button>
        <input type="number" [(ngModel)]="hardMistakes" />
        <button (click)="incrementMistakes(-2)">+</button>
      </div>
      <div class="stepDescription">
        Количество грубых ошибок критического уровня
      </div>
    </div>
  </div>

  <div class="submitButton">
    <button (click)="submit()">Завершить оценку</button>
  </div>

  <ng-template #noSteps>
    <p>Нет доступных тестовых шагов.</p>
  </ng-template>

  <ng-template #loading>
    <p>Загрузка навыка...</p>
  </ng-template>
</div>

<div class="studentnumber">
  <p *ngIf="studentNumber > 0">Выбран студент № {{ studentNumber }}</p>
  <div>
    <input
      id="searchInput"
      #searchInput
      type="text"
      placeholder="Поиск"
      (input)="onSearch(searchInput.value)"
    />
  </div>
  <p>Выберите номер студента</p>
  <div class="studentnumberstable">
    <div class="scroll-container">
      <div
        *ngFor="let number of serchedNumbers"
        class="item clicable"
        (click)="selectStudent(number)"
      >
        {{ number }}
      </div>
    </div>
  </div>
</div>
