<div class="add-user-form">
  <input type="text" placeholder="Логин" [(ngModel)]="newUser.username" />
  <input type="password" placeholder="Пароль" [(ngModel)]="newUser.password" />
  <button (click)="addUser()">Добавить пользователя</button>
</div>

<table class="users-table">
  <thead>
    <tr>
      <th>ФИО</th>
      <th *ngFor="let role of allRoles">{{ role.replace("ROLE_", "") }}</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ getFullName(user) }}</td>
      <td *ngFor="let role of allRoles">
        <input
          type="checkbox"
          [checked]="hasRole(user, role)"
          (change)="toggleRole(user, role)"
        />
      </td>
      <td class="actions">
        <button
          [disabled]="!changedUsers.has(user.id)"
          (click)="saveChanges(user)"
        >
          Сохранить
        </button>
        <button (click)="deleteUser(user.id)">Удалить</button>
        <button (click)="goToProfile(user.id)">Профиль</button>
      </td>
    </tr>
  </tbody>
</table>
