<div class="profile-container" *ngIf="userProfile">
  <h2>{{ userProfile.secondName }} (ID: {{ userProfile.id }})</h2>

  <form class="profile-form">
    <label>
      Имя:
      <input type="text" [(ngModel)]="firstName" name="firstName" />
    </label>
    <label>
      Фамилия:
      <input type="text" [(ngModel)]="secondName" name="secondName" />
    </label>
    <label>
      Отчество:
      <input type="text" [(ngModel)]="fatherName" name="fatherName" />
    </label>
  </form>

  <hr />

  <div class="skills-wrapper" *ngIf="isAdmin">
    <div class="skill-list" [style.height.px]="availableSkillsListHeight">
      <h3>Все дисциплины</h3>
      <div
        cdkDropList
        #availableList="cdkDropList"
        [cdkDropListData]="availableDisciplines"
        [cdkDropListConnectedTo]="[userList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="skill-item"
          *ngFor="let skill of availableDisciplines"
          cdkDrag
          #availableSkillRef
        >
          {{ skill.name }}
        </div>
      </div>
    </div>

    <div class="skill-list" [style.height.px]="userSkillsListHeight">
      <h3>Дисциплины пользователя</h3>
      <div
        cdkDropList
        #userList="cdkDropList"
        [cdkDropListData]="userDisciplines"
        [cdkDropListConnectedTo]="[availableList]"
        class="drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="skill-item"
          *ngFor="let skill of userDisciplines"
          cdkDrag
          #userSkillRef
        >
          {{ skill.name }}
        </div>
      </div>
    </div>
  </div>

  <button (click)="saveProfile()">Сохранить профиль</button>
</div>
