<div class="login-container">
  <h2>Регистрация</h2>
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="loginForm"
  >
    <div>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
    </div>
    <div>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter email"
      />
    </div>
    <div>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
    </div>
    <div class="loginControls">
      <p class="clicable" type="submit">Зарегистрироваться</p>
    </div>
  </form>
</div>
